html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.StopScroll {
	height: 100vh;
	overflow: hidden;
}
#backdrop {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 10;
	pointer-events: none;
	display: none;
}
#backdrop.visible {
	display: block;
	pointer-events: all;
}
.hidden {
	display: none;
}
#parent {
	width: 100%;
	max-width: 1440px;
	margin: auto;
}
.HeaderBox {
	background: url(./images/mobile/image-header.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 2rem 1.5rem;
}
.HeaderTop {
	display: flex;
	justify-content: space-between;
	padding-bottom: 80px;
}
.MenuBar {
	display: none;
}

.MenuBtn {
	z-index: 100;
}
.MenuBar.visible {
	position: absolute;
	text-align: center;
	color: #7e7d85;
	font-weight: bold;
	z-index: 100;
	background: white;
	border-radius: 10px;
	width: 80%;
	height: 300px;
	padding: 2rem;
	top: 10vh;
	right: 10%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	animation: fade-slide-in 0.3s ease-out forwards;
}
@keyframes fade-slide-in {
	from {
		transform: translateY(-5rem);
	}
	to {
		transform: translateY(0);
	}
}
.Contact {
	padding: 1rem;
	border-radius: 30px;
	color: black;
	background-color: #fbd601;
	max-width: 150px;
	margin: 0 auto;
	font-family: 'Fraunces', serif;
	font-weight: bold;
}
.Contact:hover {
	cursor: pointer;
	background-color: #b9d3d0;
	color: #892d35;
}
.HeaderText {
	text-align: center;
	color: white;
	font-size: 2.5rem;
	font-weight: 700;
	font-family: 'Fraunces', serif;
}
.ArrowDown {
	text-align: center;
	padding: 3rem 0 4rem;
}
.ContentBox {
	padding: 3rem 1.5rem;
	text-align: center;
}
.TitleText {
	font-size: 2rem;
	font-weight: 700;
	font-family: 'Fraunces', serif;
}
.TextContent {
	color: hsl(232, 10%, 55%);
	padding: 2rem 0;
}
.BigText {
	font-family: 'Fraunces', serif;
	font-weight: 900;
	font-size: 16px;
}
.TextStyle {
	border: 5px solid #fcefbb;
	width: 100%;
	max-width: 130px;
	margin: auto;
	margin-top: -8px;
	border-radius: 20px;
}
.BigText:hover {
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-decoration-color: yellow;
}
.FruitBox1 {
	background: url(./images/mobile/image-graphic-design.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	color: hsl(167, 40%, 24%);
}
.FruitBox2 {
	background: url(./images/mobile/image-photography.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	color: hsl(198, 62%, 26%);
}
.FruitBoxInner {
	padding: 20rem 0 4rem;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.FruitBoxTitle {
	font-size: 30px;
	padding: 2rem;
	font-family: 'Fraunces', serif;
	font-weight: 900;
}
.Testimony {
	text-align: center;
	padding: 1.5rem 2rem;
}
.TestimonyTitle {
	padding: 1.5rem 0 1.5rem;
	color: #a5a5a5;
	font-family: 'Fraunces', serif;
	font-weight: 900;
	font-size: 18px;
}
.PhotoBox {
	padding: 1.5rem;
}
.PhotoBox img {
	border-radius: 50%;
	max-width: 60px;
}
.PhotoBoxText {
	color: #5f6064;
	font-size: 16px;
	font-weight: 700;
}
.Name {
	color: black;
	font-weight: 900;
	font-family: 'Fraunces', serif;
	padding: 1.5rem 0 0.5rem;
}
.occupation {
	font-size: 12px;
	color: #afafaf;
}
.ImageBox {
	display: flex;
}
.Footer {
	text-align: center;
	background-color: #90d4c5;
	padding: 1.5rem;
}
.FooterBigText {
	color: hsl(168, 34%, 41%);
	font-weight: 900;
	font-size: 30px;
	padding: 1.5rem 0 2.5rem;
}
.FooterContent {
	display: flex;
	justify-content: space-between;
	color: #4e9283;
	font-size: 16px;
	font-weight: 700;
	max-width: 250px;
	margin: auto;
}
.FooterContent p:hover {
	color: #fff;
}
.FooterIcon {
	display: flex;
	justify-content: space-between;
	max-width: 10rem;
	margin: auto;
	padding: 4rem 0 1.5rem;
}
.FooterIcon img:hover {
	cursor: pointer;
	background-color: #fff;
}

@media screen and (min-width: 480px) {
	.HeaderText {
		font-size: 3rem;
	}
	.ArrowDown {
		padding: 4rem 0 10rem;
	}
	.TitleText {
		font-size: 2.5rem;
	}
	.FruitBoxInner {
		padding-top: 25rem;
	}
	.FruitBoxTitle {
		font-size: 2rem;
	}
	.FruitBoxInner p {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.PhotoBox img {
		max-width: 100px;
	}
}
@media screen and (min-width: 768px) {
	.ImageLogo {
		padding-top: 20px;
	}
	.HeaderBox {
		background: url(./images/desktop/image-header.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		padding: 2rem 1.5rem;
	}
	.MenuBtn {
		display: none;
	}
	.MenuBar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 300px;
		color: #fff;
		font-size: 14px;
	}
	.menuBar div {
		padding-left: 2rem;
	}
	.Contact {
		padding: 1rem;
		border-radius: 30px;
		color: black;
		background-color: #fff;
		margin: unset;
	}
	.Contact:hover {
		cursor: pointer;
		background-color: rgb(232, 232, 232, 0.75);
		color: white;
	}
	.HeaderTop {
		padding-bottom: 30px;
	}
	.HeaderText {
		font-size: 2rem;
	}
	.ArrowDown {
		padding: 1rem 0 5rem;
	}
	.ContentBox {
		padding: 3rem 3.5rem;
		text-align: start;
	}
	.TextContent {
		padding: 1rem 0;
		font-size: 14px;
		line-height: 20px;
	}
	.TransformContent {
		display: flex;
		flex-direction: row-reverse;
	}
	.StandoutContent {
		display: flex;
	}
	.TransformContent div,
	.StandoutContent div {
		width: 50%;
	}
	.TitleText {
		font-size: 1.5rem;
	}
	.TextStyle {
		max-width: 115px;
		margin: 0;
		margin-top: -8px;
	}
	.FruitBox {
		display: flex;
	}
	.FruitBox1,
	.FruitBox2 {
		width: 50%;
		height: 100%;
		padding-bottom: 1rem;
	}
	.FruitBox1 {
		background: url(./images/desktop/image-graphic-design.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.FruitBox2 {
		background: url(./images/desktop/image-photography.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.FruitBoxInner {
		padding-top: 170px;
		padding-bottom: 1rem;
		font-size: 14px;
	}
	.FruitBoxTitle {
		font-size: 26px;
		padding: 1rem;
	}
	.FruitBoxInner p {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
	.TestimonyContent {
		display: flex;
		padding: 0 2rem;
	}
	.PhotoBox img {
		max-width: 75px;
	}
	.PhotoBoxText {
		color: #5f6064;
		font-size: 14px;
		font-weight: 700;
	}
	.FooterImageBox {
		display: flex;
	}
	.ImageBox {
		width: 50%;
	}
}
@media screen and (min-width: 1024px) {
	.MenuBar {
		width: 400px;
		font-size: 18px;
	}
	.ArrowDown {
		padding: 6rem 0 7rem;
	}
	.HeaderText {
		font-size: 2.5rem;
	}
	.TitleText {
		font-size: 2.5rem;
	}
	.TextContent {
		font-size: 15px;
	}
	.ContentBox {
		padding: 5rem 3.5rem;
	}
	.FruitBoxTitle {
		font-size: 38px;
	}
	.FruitBoxInner p {
		padding-top: 3rem;
	}
}
@media screen and (min-width: 1440px) {
	.HeaderText {
		font-size: 3.5rem;
		padding-top: 4.5rem;
	}
	.ArrowDown {
		padding: 8rem 0 12rem;
	}
	.TitleText {
		font-size: 3.5rem;
	}
	.TextContent {
		font-size: 23px;
		padding: 3rem 0;
		line-height: 1.5rem;
	}
	.BigText {
		font-size: 22px;
	}
	.TextStyle {
		max-width: 160px;
	}
	.FruitBoxInner {
		padding-top: 15rem;
		font-size: 25px;
	}
	.FruitBoxTitle {
		font-size: 53px;
	}
	.TestimonyTitle {
		font-size: 35px;
	}
	.PhotoBox img {
		max-width: 100px;
	}
	.PhotoBoxText {
		font-size: 20px;
		padding: 0 1rem;
	}
	.Name {
		font-size: 1.5rem;
	}
	.occupation {
		font-size: 18px;
	}
	.FooterBigText {
		font-size: 2.5rem;
	}
	.FooterContent {
		font-size: 25px;
		max-width: 400px;
	}
	.FooterIcon {
		max-width: 15rem;
	}
}
